<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todos</title>
</head>
<body>
  <h1>Stuff I need to do</h1>
  <form action="/todos" method="post">
    <input type="text" name="description">
    <button type="submit">Add</button>
  </form>
  <ul>
    <% for(let i = 0; i < 5; i++) { %>
    <li><%= description %> - <%= done %></li>
    <% } %>
  </ul>
</body>
</html>